@model Aiursoft.Wiki.Models.WikiViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Values.ProjectName - Document Center</title>

    <link rel="icon" type="image/x-icon" href="https://cdn.aiursoft.com/favicon.ico">
    <link href="https://cdn.aiursoft.com/dist/AiurCore.min.css" rel="stylesheet">
    <link href="https://cdn.aiursoft.com/dist/AiurDashboard.min.css" rel="stylesheet">
    @RenderSection("css", required: false)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/">@Values.ProjectName Wiki</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                @foreach (var collection in Model.Collections)
                {
                    <li class="nav-item @(Model.CurrentCollection.CollectionId==collection.CollectionId?"active":"")">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti@(collection.CollectionId)" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-sitemap"></i>
                            <span class="nav-link-text">@collection.CollectionTitle</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseMulti@(collection.CollectionId)">
                            @foreach (var article in collection.Articles)
                            {
                                <li>
                                    <a href="/ReadDoc/@collection.CollectionTitle/@(article.ArticleTitle).md">@article.ArticleTitle</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        @RenderBody()
        <footer class="sticky-footer">
            <div class="ml-3">
                <small class="mr-2 ml-2">
                    <a href="@(new AiurUrl("https://api.aiursoft.com", "Api", "SetLang", new
                        {
                            Host = $"{Context.Request.Scheme}://{Context.Request.Host}",
                            Path = Context.Request.Path
                        }))">Language(语言)</a>
                </small>
                @foreach(var foot in Values.Footer)
                {
                    <small class="mr-2 ml-2">
                        <a href="@foot.Value">@foot.Key</a>
                    </small>
                }
                <small>Copyright © @Values.ProjectName @DateTime.Now.Year</small>
            </div>
        </footer>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <script src="https://cdn.aiursoft.com/dist/AiurCore.min.js"></script>
        <script src="https://cdn.aiursoft.com/dist/AiurDashboard.min.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>